/**
 * quanyin CSS
 * performance adp
 * 2014-09-28
 */
.nav{
    padding: 20px 15px;
}
.loc{
    width: 24px;
    margin-top: -15px;
}
.locLab{
    text-indent: 30px;
}

#searchInput, #searchBtn, #publicBtn{
    height: 71px;
}
#searchBtn{
    padding: 10.5px;
}
#searchBtn div{
    width: 48px;
    height: 48px;
}
#publicBtn{
    margin-left: 20px;
}

.home-con>div{
    padding: 5px;
}
.home-conLab{
    bottom: 8px;
    font-size: 24px;
}

/*========== desc ==========*/
.desc-li{
    margin-bottom: 15px;
    padding: 20px 4%;
}
#desc_avatar{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    top: -40px;
}
#desc_userid {
    padding-left: 90px;
}
#desc_time {
    top: 20px;
    font-size: 24px;
}
#desc_location {
    text-indent: 30px;
}
#desc_btn,#public_btn{
    margin: 50px 4%;
}

/*========== public ==========*/
.public-navLoc{
    padding: 17px 0;
}
.public-con{
    padding: 20px 4%;
}
.public-conImg{
    margin: 15px 0;
}
.public-conImg>div{
    margin-right: 30px;
}
.public-conImg>div>img{
    width: 160px;
    height: 160px;
}
.public-conImgDiv>div{
    width: 48px;
    height: 48px;
    right: -20px;
    top: -20px;
    border-radius: 24px;
}
.public-conImgDiv>div>div {
    height: 10px;
    width: 24px;
    margin-top: -5px;
    margin-left: -12px;
    border-radius: 5px;
}

