/**
 * quanyin CSS
 * performance
 * 2014-09-28
 */

.nav{
    border-bottom: 1px solid #999;
    background-color: #EAECEE;
}
.loc{
    position: absolute;
    top: 50%;
}
.locLab{
}

/*========== home ==========*/
#searchInput{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#searchBtn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
#searchBtn div{
    background: url(../images/search.png) no-repeat;
    background-size: 100% 100%;
}
#publicBtn{
}

.home-con{
    overflow: hidden;
}
.home-con>div{
    float: left;
    width: 33.333333333333333%;
}
.home-con>div>div{
    cursor: pointer;
}
.home-con img{
    width: 100%;
}
.home-conLab{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/*========== desc ==========*/
#desc_img{
    width: 100%;
}
.desc-li{
    border-bottom: 1px solid #ccc;
    background-color: white;
}
.bg-none{
    background-color: transparent;
}

#desc_avatar{
    position: absolute;
}
#desc_userid {
    display: inline-block;
}
#desc_time {
    position: absolute;
    color: #717171;
    right: 4%;
}

#desc_btn,#public_btn{
    width: 92%;
}

/*========== public ==========*/
.public-navLoc{
}
.public-con{
}
#public_desc {
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.public-conImg{
}
.public-conImg>div{
    cursor: pointer;
    display: inline-block;
}
.public-conImg>div>img{
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 1px;
}
.public-conImgDiv>div{
    position: absolute;
    background-color: #d9534f;
    background-size: 100% 100%;
}
.public-conImgDiv>div>div {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

#file{
    position: absolute;
    bottom: -5%;
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    background-image: none;
    background-color: transparent;
}