/**
 * quanyin CSS
 * public adp
 * 2014-10-01
 */

body{
    font-size: 32px;
}

/*=====panel=====*/
.panel{
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 32px;
}
.panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 30px;
}
.panel-body {
    padding: 20px 30px;
}

/*=====btn=====*/
.btn, .form-control {
    margin: 0;
    padding: 12px 24px;
    font-size: 32px;
    border-radius: 6px;
}
.btn-lg{
    padding: 25px;
    font-size: 38px;
}

/*=====form=====*/
.form-group {
    padding-bottom: 30px;
}
label {
    margin-bottom: 10px;
}
.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/*=====alert=====*/
#alert{
    bottom: 150px;
}
#alertBit{
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 32px;
    box-shadow: 0 0 8px black;
}

.nocover{
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
}
/*=====Ld=====*/
.Ld{
    width: 80px;
    height: 80px;
}
.Ld-one{
    border-radius: 5.6px 5.6px 0 0;
}