/**
 * quanyin CSS
 * public
 * 2014-10-01
 */

*,*:before,*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
    margin: 0;
    color: #333;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #EFF3F7;
}
div{
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a{
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}
a:active{
    color: #2a6496;
    text-decoration: underline;
}

.hide{
    display: none;
}
/*===== text =====*/
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-white{
    color: white;
}
.text-bold{
    font-weight: bold;
}
.text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*=====panel=====*/
.panel{
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
}
.panel-body {
    border-top: 1px solid transparent;
}

.panel-default, .panel-default>.panel-body{
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
}
.panel-primary, .panel-primary>.panel-body{
    border-color: #357ebd;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #428bca;
}
.panel-success, .panel-success>.panel-body{
    border-color: #4cae4c;
}
.panel-success>.panel-heading {
    color: #fff;
    background-color: #5cb85c;
}
.panel-warning, .panel-warning>.panel-body{
    border-color: #eea236;
}
.panel-warning>.panel-heading {
    color: #fff;
    background-color: #f0ad4e;
}

/*=====btn=====*/
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    text-decoration: initial !important;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:active{
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:active{
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:active{
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:active{
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:active{
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:active{
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}

/*=====form=====*/
.form-group {
}
.form-group>label {
    display: inline-block;
    font-weight: bold;
}
.form-control {
    display: block;
    width: 100%;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
}
.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-btn {
    display: table-cell;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

/*=====alert=====*/
#alert{
    position: fixed;
    width: 100%;
    z-index: 100;
    color: white;
    text-align: center;
    left: 0;
    padding: 0 4%;
}
#alertBit{
    opacity: 0;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);

    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}

.cover{
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.cover .Ld{
    top: 45%;
}
.nocover{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
}
/*=====Ld=====*/
.Ld{
    display: inline-block;
    position: relative;
}
.Ld-one{
    position: absolute;
    background-color:#efefef;

    width: 14%;
    height: 28%;

    animation: rote 0.8s linear infinite;
    -webkit-animation: rote 0.8s linear infinite;
    -moz-animation: rote 0.8s linear infinite;
    -o-animation: rote 0.8s linear infinite;
}
.Ld0{
    top: 36%;
    left: 11%;

    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);

    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}
.Ld1{
    top: 13%;
    left: 20%;

    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);

    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
}
.Ld2{
    top: 4%;
    left: 43%;

    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);

    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
}
.Ld3{
    top: 13%;
    left: 66%;

    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);

    animation-delay: .6s;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-delay: .6s;
}
.Ld4{
    top: 36%;
    left: 75%;

    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);

    animation-delay: .7s;
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -o-animation-delay: .7s;
}
.Ld5{
    top: 60%;
    left: 66%;

    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);

    animation-delay: .8s;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
}
.Ld6{
    top: 67%;
    left: 43%;

    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);

    animation-delay: .9s;
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -o-animation-delay: .9s;
}
.Ld7{
    top: 58%;
    left: 20%;

    transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);

    animation-delay: 1.0s;
    -webkit-animation-delay: 1.0s;
    -moz-animation-delay: 1.0s;
    -o-animation-delay: 1.0s;
}
@keyframes runingrote {0%{background-color:#333;}}
@-webkit-keyframes rote{0%{background-color:#333;}}
@-moz-keyframes rote{0%{background-color:#333;}}
@-o-keyframes rote{0%{background-color:#333;}}